<form method="post" action="{{ path('app_job_types_delete', {'id': job_type.id}) }}" onsubmit="return confirm('Are you sure you want to yeet this ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_type.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
