{% block form %}
	<div class='flex sm:py-10 sm:px-20 md:py-20 md:px-40 px-0 py-0 sm:h-[calc(100vh-4rem)] h-[calc(100vh-5rem)] bg-gray-200'>
		<div class='flex md:flex-row flex-col w-full p-20 gap-6 shadow-xl bg-white rounded'>
			<div class='xl:w-1/2 w-full h-full'>
				<form method='post' class='flex flex-col gap-6 h-full'>
					{{ form_start(form) }}
					<div class='h-full w-full sm:pr-10 overflow-y-auto overflow-x-hidden'>
						{% block input %}{% endblock %}
					</div>

					<button class='bg-violet-600 h-10 rounded text-white font-semibold w-32 transition hover:bg-white border-2 hover:text-violet-600 hover:border-violet-600'>{{ button_label|default('Save') }}</button>
					{{ form_end(form) }}
				</form>
			</div>
			{% block canvas %}{% endblock %}
		</div>
	</div>
{% endblock %}
