{% block header %}
    <ul class='flex px-6 gap-6 h-16 font-["Poppins"] text-xl text-violet-600 shadow'>
        <li class='uppercase font-bold my-auto'>
            <a class='flex gap-2' href='/'>
                <h1>BallTeaser</h1>
                
                <img class='h-8 mt-[-6px]' src='{{asset("images/logo.png")}}'>
            </a>
        </li>
        <li class='ml-auto my-auto'><a href=''><img class='h-6 invert-[50%]' src='{{asset("images/notif.png")}}'></a></li>
        <li class='my-auto'><a href=''><img class='h-6 invert-[50%]' src='{{asset("images/profile.png")}}'></a></li>
    </ul>
{% endblock %}
