{% block table %}
<h1 class='text-[2.1rem] font-bold uppercase text-center mt-10'>{{title}}</h1>
	<div class="flex flex-col gap-4 m-auto">
		{% block button %}{% endblock %}

		<table class="w-full text-sm text-left text-violet-600 dark:text-violet-600 pt-3" id="{{id}}">
			<thead class="pt-3 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
				<tr>
					{% block th %}{% endblock %}
				</tr>
			</thead>
			<tbody>
				{% block tbody %}{% endblock %}
			</tbody>
		</table>
	{% endblock %}
