{% block table %}
	<div class="p-20 flex flex-col gap-6">
		{% block tableTitle %}
		{% endblock %}
		<a class='bg-violet-600 h-10 rounded text-white font-semibold hover:bg-white border-2 px-2 py-1 w-32 hover:text-violet-600 hover:border-violet-600 transition text-center' href="{{ path('default') }}">Retour</a>
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-200" id="{{id}}">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
					<tr class="border border-violet-600">
				{% block th %}
				{% endblock %}
					</tr>
			</thead>
			<tbody>
				{% block tbody %}
				{% endblock %}
			</tbody>
		</table>
    {% block button %}
{% endblock %}
{% endblock %}
