<form method="post" action="{{ path('app_company_delete', {'id': company.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer cette donnée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
